{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{parent()}} - Erreur
{% endblock %}

{% block container_body %}
  <div class="alert alert-danger">Le serveur a retourné une erreur : {{ status_text }}</div>
  <div class="center" >
      <center><img src="{{ asset('img/error/500Page.jpg') }}" alt="erreur" ></center>
  </div>
{% endblock %}
