{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajout de licence
{% endblock %}

{% block container_title %}
  Formulaire d'ajout ou de modification d'une licence
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(form) }}

  <div class="form-group">
      {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.nom) }}
      <div class="col-sm-10">
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
  </div>

  <div class="form-group">
      {{ form_label(form.infoGeneral, "Informations générales", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.infoGeneral) }}
      <div class="col-sm-10">
          {{ form_widget(form.infoGeneral, {'attr': {'class': 'form-control'}}) }}
      </div>
  </div>

  {% if form.responsable is defined %}
    <div class="form-group">
      {{ form_label(form.responsable, "Responsable :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.responsable) %}
          <div class="alert alert-danger">
            {{ form_errors(form.responsable) }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="form-group">
      {{ form_label(form.enregistrer, "Enregistrer", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      <div class="col-sm-10">
          {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3 btn'}}) }}
          <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
            Annuler
          </a>
      </div>
  </div>

  {{ form_rest(form) }}
  {{ form_end(form) }}
{% endblock %}
