{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression licence
{% endblock %}

{% block container_title %}
  Supprimer une licence
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer la licence "{{ licence.nom }}" ?
  </p>


  <form action="{{ path('plu_core_licence_delete', {'id': licence.id}) }}" method="post">
    <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur les licences
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
