{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Licences
{% endblock %}

{% block container_title %}
  Liste des Licences
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('notice') %}
      <div class="alert alert-success">
          {{ message }}
      </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
  {% endfor %}

  <div>
    {% if is_granted('ROLE_ADMINISTRATEUR') %}
      <a style="text-decoration:none;" href="{{ path('plu_core_licence_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une licence
        </button>
      </a>
    {% endif %}
  </div>
    </br>

    <div class="row text-center">
      {% for licence in licences %}
        <a href="{{ path('plu_core_licence_view', { 'id':licence.id }) }}">
          <div class='col-md-4 col-sm-4 col-xs-6' data-mh='licence-da'>
            <div class="alert alert-info" style="height: 90%;">
              {{ licence.nom }}
            </div>
          </div>
        </a>
      {% else %}
        <li class="alert alert-danger">Il n'y a pas encore de licences</li>
      {% endfor %}
    </div>

    <!-- --------------------------------------------------------------------------------------------------------- -->
  <!-- <div class="ckImg" id="accordion">
    <ul>
      {% for licence in licences %}
        <li>
           Nom : {{ licence.nom }}
        </li>
        <li>
           Responsable :
            {% if licence.responsable  is null %}
              <div class="alert alert-danger" style="margin:0;"> Cette licence n'a pas encore de responsable.</div>
            {% else %}
              {{ licence.responsable.prenom }} {{ licence.responsable.nom }}, email : <a href="">{{ licence.responsable.username }}</a>
            {% endif %}
        </li>
        <li>
          Informations générales :
          {{ licence.infoGeneral|raw }}
        </li>

        {% if is_granted('ROLE_ADMINISTRATEUR') %}
          <a href="{{ path('plu_core_licence_edit', { 'id':licence.id }) }} " class="btn btn-primary col-sm-3 btn">
            Modifier licence : {{ licence.nom }}
          </a>
        {% endif %}

        {% if is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
          {% if licence in app.user.licences %}
            <a href="{{ path('plu_core_licence_edit', { 'id':licence.id }) }} " class="btn btn-primary col-sm-3 btn">
              Modifier licence : {{ licence.nom }}
            </a>
          {% endif %}
        {% endif %}

        {% if is_granted('ROLE_ADMINISTRATEUR') %}
          <a href="{{ path('plu_core_licence_delete', { 'id':licence.id }) }} " class="btn btn-danger">
            Supprimer licence : {{ licence.nom }}
          </a>
        {% endif %}

        </br></br>
      {% else %}
        <li class="alert alert-danger">Il n'y a pas encore de licences</li>
      {% endfor %}
    </ul>
  </div> -->

  <!-- --------------------------------------------------------------------------------------------------------- -->

{% endblock %}
