<ul class="nav nav-pills nav-stacked">
  {% for licence in licences %}
    <li>
      <a href="{{ path('plu_core_licence_view', { 'id':licence.id }) }}">
        {{ licence.nom }}
      </a>
    </li>
  {% endfor %}
</ul>
