{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Licence
{% endblock %}

{% block container_title %}
  {{ licence.nom }}
{% endblock %}

{% block container_body %}

  {% if licence.responsable  is null %}
    <div class="alert alert-danger" style="margin:0;"> Cette licence n'a pas encore de responsable.</div>
  {% else %}
    <div class="alert alert-info">
      Le/la responsable de la licence est : {{ licence.responsable.prenom }} {{ licence.responsable.nom }}, email : <a href="mailto:{{ licence.responsable.username }}">{{ licence.responsable.username }}</a>
    </div>
  {% endif %}

  <h4>Informations générales</h4>
  <div class="well ckImg">
    {{ licence.infoGeneral|raw }}
  </div>


  {% if is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
    {% if licence in app.user.licences %}
      <a href="{{ path('plu_core_licence_edit', { 'id':licence.id }) }} " class="btn btn-primary">
        Modifier la licence
      </a>
    {% endif %}
  {% endif %}

  {% if is_granted('ROLE_ADMINISTRATEUR') %}
    <a href="{{ path('plu_core_licence_edit', { 'id':licence.id }) }} " class="btn btn-primary">
      Modifier la licence
    </a>
    <a href="{{ path('plu_core_licence_delete', { 'id':licence.id }) }} " class="btn btn-danger">
      Supprimer la licence
    </a>
  {% endif %}
  <br><br>
  <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour
  </a>

  <!-- --------------------------------------------------------------------------------------------------------- -->

{% endblock %}
