#bandeau{
  padding: 0;
  margin: 0;
  height: 8em;
  width: 100%;
}

#logo{
  margin:0;
  padding:0.2em;
}

#navUn{
  margin: 0;
}

#side_bar{
  min-height: 15em;
}

#container{
  min-height: 35em;
}
