{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression enseignant
{% endblock %}

{% block container_title %}
  Supprimer un enseignant
{% endblock %}

{% block container_body %}
  <p>
    Êtes-vous certain de vouloir supprimer cet enseignant : "{{ enseignant.prenom }} {{ enseignant.nom }}" ?
  </p>


  <form action="{{ path('plu_core_enseignant_delete', {'id': enseignant.username}) }}" method="post">
    <a href="{{ path('plu_core_enseignant_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste des enseignants
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
