{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Enseignants
{% endblock %}

{% block container_title %}
  Liste des enseignants
{% endblock %}

{% block container_body %}

  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  <div>
    {% if is_granted('ROLE_ADMINISTRATEUR') %}          
      <a style="text-decoration:none;" href="{{ path('plu_core_enseignant_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un enseignant
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  {% if listEnseignant is defined %}
    <table  class="table table-striped">
      <thead>
        <tr>
          <td>#</td>
          <td>Prénom</td>
          <td>Nom</td>
          <td>Email</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {% for enseignant in listEnseignant %}

          <tr>
            <td>{{ enseignant.id }}</td>
            <td>{{ enseignant.prenom }}</td>
            <td>{{ enseignant.nom }}</td>
            <td>{{ enseignant.username }}</td>
            <td>
              <a href="{{ path('plu_core_enseignant_edit', {'id':enseignant.username}) }}">
                <button type="button" class="btn btn-primary">Modifier</button>
              </a>
              <a href="{{ path('plu_core_enseignant_delete', {'id':enseignant.username}) }}">
                <button type="button" class="btn btn-danger">Supprimer</button>
              </a>
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
