{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajouter offre
{% endblock %}

{% block container_title %}
  Formulaire d'ajout ou de modification d'offre
  {% if is_granted('ROLE_ADMINISTRATEUR') %}
    {% if offre.entreprise.nom is defined %}
      <small> - {{ offre.entreprise.nom }} </small>
    {% endif %}
  {% endif %}
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {% if form_errors(form) %}
      <div class="alert alert-danger">
        {{ form_errors(form) }}
      </div>
    {% endif %}

    <div class="form-group">
      {{ form_label(form.intitule, "Titre de l'offre :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.intitule, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.intitule) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.intitule) }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if form.entreprise is defined %}
      <div class="form-group">
        {{ form_label(form.entreprise, "Entreprise :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        <div class="col-lg-9">
          {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.entreprise) %}
            <div class="alert alert-danger">
              {{ form_errors(form.entreprise) }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="form-group">
      {{ form_label(form.categorie, "Type de contrat :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.categorie) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.categorie) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.description) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.description) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.file, "Pièces jointes :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.file) }}
        {% if form_errors(form.file) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.file) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.addr, "Adresse :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.addr, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.addr) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.addr) }}
          </div>
        {% endif %}
        <p class="text-muted">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
            Cette adresse correspond au lieu où se déroulera l'offre !
          </span>
        </p>
      </div>
    </div>

    {% if form.publie is defined %}
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          {{ form_widget(form.publie) }}
        </div>
      </div>
    {% endif %}

    {% if form.valide is defined %}
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          {{ form_widget(form.valide) }}
        </div>
      </div>
    {% endif %}

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
        <a href="{{ path('plu_core_offre_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Annuler
        </a>
      </div>
    </div>

    {{ form_rest(form) }}

  {{ form_end(form) }}
{% endblock %}
