{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression d'offre
{% endblock %}

{% block container_title %}
  Supprimer l'offre "{{offre.intitule}}"
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer l'offre "{{ offre.intitule }}" ?
  </p>


  <form action="{{ path('plu_core_offre_delete', {'id': offre.id}) }}" method="post">
    <a href="{{ path('plu_core_offre_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste des offres
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
