{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Offres
{% endblock %}

{% block container_title %}
  Liste des Offres
{% endblock %}

{% block container_body %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  <div>
    {% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_INTERVENANT') %}
      <a style="text-decoration:none;" href="{{ path('plu_core_offre_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une offre
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  {% if nbPages > 0 %}

    {% if
      is_granted('ROLE_ENSEIGNANT')
      or is_granted('ROLE_INTERVENANT')
    %}

        <table class="table table-striped">
          <thead>
            <tr>
              <td>#</td>
              <td>Intitulé</td>
              {% if is_granted('ROLE_ENSEIGNANT') %}
                <td>Entreprise</td>
              {% endif %}
              <td>Catégorie</td>
              {% if is_granted('ROLE_ENSEIGNANT') %}
              <td>Acceptée</td>
              {% endif %}
                <td>En Ligne</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for offre in offres %}

              <tr>
                <td>{{ offre.id }}</td>

                  <td><a href = "{{ path('plu_core_offre_view', {'id': offre.id}) }}" >{{ offre.intitule }}</a></td>

                {% if is_granted('ROLE_ENSEIGNANT') %}
                  <td>{{ offre.entreprise.nom }}</td>
                {% endif %}
                <td>{{ offre.categorie.nom }}</td>

                {% if is_granted('ROLE_ENSEIGNANT') %}
                  <td>
                    {% if offre.valide %}
                        <button type="button" data-action="valide" data-id_offre_publie="{{ path('plu_core_offre_changeaccept', {'id': offre.id}) }}" class="btn btn-success" >Oui</button>
                    {% else %}
                      <button type="button" data-action="valide" data-id_offre_publie="{{ path('plu_core_offre_changeaccept', {'id': offre.id}) }}" class="btn btn-danger" >Non</button>
                    {% endif %}
                  </td>
                {% endif %}

                <td>
                  {% if offre.publie %}
                    <button type="button" data-action="publie" data-id_offre_publie="{{ path('plu_core_offre_changevalide', {'id': offre.id}) }}" class="btn btn-success" >Oui</button>
                  {% else %}
                    <button type="button" data-action="publie" data-id_offre_publie="{{ path('plu_core_offre_changevalide', {'id': offre.id}) }}" class="btn btn-danger" >Non</button>
                  {% endif %}
                </td>

                <td>
                  <a href="{{ path('plu_core_offre_edit', {'id': offre.id}) }}">
                    <button type="button" class="btn btn-primary">Modifier</button>
                  </a>
                  <a href="{{ path('plu_core_offre_delete', {'id': offre.id}) }}">
                    <button type="button" class="btn btn-danger">Supprimer</button>
                  </a>
                  {% if offre.fichiers != null %}
                    <a href = "{{ path('plu_core_offre_download', {'id': offre.id}) }}">
                      <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Télécharger
                      </button>
                    </a>
                  {% endif %}
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>

    {% else %}
      {% for offre in offres %}
        {% if not loop.last %}
          <div class="" style="margin-bottom:5em;">

        {% else %}
          <div class="">
        {% endif %}

          <div class="row">
            <div class="col-lg-12" style="margin-top: 1em; font-family: sans-serif; font-size: 1.5em">
              <strong><a href = "{{ path('plu_core_offre_view', {'id': offre.id}) }}" >{{ offre.intitule|capitalize }}</a></strong>
            </div>
          </div>
          <hr>

          <div class="col-lg-12">
            {{ offre.entreprise.nom|capitalize }} - {{ offre.categorie.nom }}
          </div>
          <div class="col-lg-12" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: rgba(144, 144, 146, 0.07); max-height: 20em; overflow-y: scroll; border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
            {{ offre.description|raw }}
          </div>
          <div class="col-lg-12" style="margin-bottom: 1em">
            Lieu de l'offre : {{ offre.addr }}
          </div>
          {% if offre.fichiers != null %}
            <a href = "{{ path('plu_core_offre_download', {'id': offre.id}) }}">
              <button type="button" class="btn btn-primary" style="">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Télécharger
              </button>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    {% if nbPages > 1 %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page != 1 %}
            <li>
              <a href="{{ path('plu_core_offre_homepage', {'page': page - 1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for i in 1..nbPages %}
            <li {% if i == page %}class="active"{% endif %}><a href="{{ path('plu_core_offre_homepage', {'page': i }) }}">{{ i }}</a></li>
          {% endfor %}
          {% if page < nbPages %}
            <li>
              <a href="{{ path('plu_core_offre_homepage', {'page': page + 1}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% else %}
    <div class="alert alert-danger">Aucune offre n'est disponible pour le moment.</div>
  {% endif %}

{% endblock %}

{% block javascripts %}
  {{ parent()}}

  <script>
    $( document ).ready(function() {
      $('button[data-id_offre_publie]').click(function(ev) {
        var leThis = $(this);
        var urlPath = leThis.attr('data-id_offre_publie');
        console.log(urlPath);

        $.ajax({
          async : true,
          type : 'get',
          url : urlPath,
          beforeSend : function() {
            leThis.text('').text();
            leThis.append('<i class="fa fa-spinner fa-spin"></i>');
          },
          success : function(json) {
            console.log(json);
            if (
              (leThis.attr('data-action') == "publie" && json.publie)
              || (leThis.attr('data-action') == "valide" && json.valide)
            ) {
              leThis.attr('class', 'btn btn-success'); //change la classe en danger
              leThis.text('Oui').text(); //change la valeur du bouton
            } else if (
              (leThis.attr('data-action') == "publie" && !json.publie)
              || (leThis.attr('data-action') == "valide" && !json.valide)
            ) {
              leThis.attr('class', 'btn btn-danger'); //change la classe en danger
              leThis.text('Non').text();
            }
          },
          error : function(statut) {
            leThis.attr('class', 'btn btn-danger'); //change la classe en danger
            leThis.text('Error').text();
          }
        });
      });
    });
  </script>
{% endblock %}
