<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PLU{% endblock %}</title>

    <!-- Bootstrap -->
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css">
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% endblock %}

  </head>
  <body>
    <header>
      {% include 'menu/menu.html.twig' %}
    </header>

    <div class="container-fluid">
      <!-- <div class="col-lg-12">
        <div class="col-lg-12 well">
          {% block ariane %}Accueil/...{% endblock %}
        </div>
      </div> -->

      {% block error_messages %}
        {% for message in app.flashes('danger') %}
          <div class="col-lg-12">
            <div class="alert alert-danger" >
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
          <div class="col-lg-12">
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          </div>
        {% endfor %}
      {% endblock %}

      {% block body %}
        <div class="hidden-xs hidden-sm col-md-3">
          <div class="col-lg-12 well" id="side_bar">
            {% block side_bar %}{% endblock %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="col-lg-12 well" id="container" style="word-wrap: break-word;">
            {% block container %}{% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>

    {% block javascripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    {% endblock %}
  </body>
</html>
