<h3>Vous avez demandez à changer de mot de passe ?</h3>

Suivez ce lien afin de réinitialiser votre mot de passe : 
<a href="{{ url('plu_core_utilisateur_reset', { 'keyreset': keyreset, 'username': username }) }}">
	{{ url('plu_core_utilisateur_reset', { 'keyreset': keyreset, 'username': username }) }}
</a>.

