{% extends "PLUCoreBundle::layout.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  
  {% if error %}
    <div class="alert alert-danger">Les identifiants ne sont pas valides. </div>
  {% endif %}

  <form action="{{ path('login_check') }}" method="post">
    <div class="form-group">
      <label for="username" class="col-lg-3 control-label">Login :</label>
      <div class="col-lg-9">
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-lg-3 control-label">Mot de passe :</label>
      <div class="col-lg-9">
        <input type="password" id="password" name="_password" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <input type="submit" value="Connexion" />
      </div>
    </div>
  </form>



{% endblock %}
