{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Reset mot de passe
{% endblock %}

{% block container_title %}
  Réinitialisation du mot de passe
{% endblock %}

{% block container_body %}
  <div class="">
    {% for message in app.flashes('danger') %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.password, "Mot de passe *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      {{ form_errors(form.password) }}
      <div class="col-lg-9">
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.checkPassword, "Confirmation du mot de passe *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      {{ form_errors(form.checkPassword) }}
      <div class="col-lg-9">
        {{ form_widget(form.checkPassword, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
          {{ form_label(form.enregistrer, "Enregistrer", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
          <div class="col-lg-9">
              {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3 btn'}}) }}
              <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
              <i class="glyphicon glyphicon-chevron-left"></i>
                Annuler
              </a>
          </div>
      </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>
{% endblock %}
