{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}Reset Mot de passe{% endblock %}

{% block container_body %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  <form action="{{ path('plu_core_utilisateur_send') }}" method="post">
    <div class="form-group">
      <label for="username" class="col-lg-3 control-label">E-mail :</label>
      <div class="col-lg-9">
        <input type="text" id="username" name="_username" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <input type="submit" value="Envoyer" />
      </div>
    </div>
  </form>

{% endblock %}