{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression message
{% endblock %}

{% block container_title %}
  Supprimer un message
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer ce message ?
  </p>
  <div class="col-lg-12" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: rgba(144, 144, 146, 0.07); max-height: 20em; overflow-y: scroll; border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
      {{ message.contenu|raw }}
      <small>{{ message.utilisateur.prenom|capitalize }} {{ message.utilisateur.nom|capitalize }} - {{ message.date|date('H:i d-m-Y') }}</small>
  </div>


  <form action="{{ path('plu_core_message_delete', {'id': message.id}) }}" method="post">
    <a href="{{ path('plu_core_forum_view', { 'id':message.forum.id }) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur le forum
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
