{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression sujet
{% endblock %}

{% block container_title %}
  Supprimer un sujet
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer ce sujet : {{sujet.nom}} ?

  <form action="{{ path('plu_core_sujet_delete', {'id': sujet.id}) }}" method="post">
    <a href="{{ path('plu_core_sujet_view', { 'id':sujet.id }) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur le sujet
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
