{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Sujet
{% endblock %}

{% block container_title %}
  Sujet : {{ sujet.nom }}

  <div class="pull-right">
    {% if sujet.createur != null %}
      {% if app.user.id == sujet.createur.id and false == is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
        <a href="{{ path('plu_core_sujet_edit', { 'id':sujet.id }) }} " class="btn btn-primary">
          Modifier le sujet
        </a>
      {% endif %}
    {% endif %}

    {% if is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
      <a href="{{ path('plu_core_sujet_edit', { 'id':sujet.id }) }} " class="btn btn-primary">
        Modifier le sujet
      </a>
    {% endif %}

    {% if is_granted('ROLE_ADMINISTRATEUR') %}
      <a href="{{ path('plu_core_sujet_edit', { 'id':sujet.id }) }} " class="btn btn-primary">
        Modifier le sujet
      </a>
      <a href="{{ path('plu_core_sujet_delete', { 'id':sujet.id }) }} " class="btn btn-danger">
        Supprimer le sujet
      </a>
    {% endif %}
  </div>

{% endblock %}

{% block container_body %}

  <div>
    {% if is_granted('ROLE_ETUDIANT_FUTUR') or is_granted('ROLE_ETUDIANT_ACTUEL') or is_granted('ROLE_ETUDIANT_ANCIEN') or is_granted('ROLE_RESPONSABLE_LP') %}
      <a style="text-decoration:none;" href="{{ path('plu_core_forum_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un forum
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  <div class="row text-center">
    {% for forum in forums %}
      {% if not loop.last %}
        <div class="" style="margin-bottom:5em;">

      {% else %}
        <div class="">
      {% endif %}

        <div class="row">
          <div class="col-lg-12" style="margin-top: 1em; font-family: sans-serif; font-size: 1.5em">
          {% if forum.resolu %}
            <strong><a href = "{{ path('plu_core_forum_view', {'id': forum.id}) }}" >{{ forum.titre|capitalize }} - Résolu</a></strong>
          {% else %}
            <strong><a href = "{{ path('plu_core_forum_view', {'id': forum.id}) }}" >{{ forum.titre|capitalize }}</a></strong>
          {% endif %}
          </div>
        </div>
        <hr>

        <div class="col-lg-12">
        {% if forum.createur == null %}
          Profil supprimé
        {% else %}
          {{ forum.createur.prenom|capitalize }} {{ forum.createur.nom|capitalize }}
        {% endif %}
         - {{ forum.date|date('H:i d-m-Y') }}
        </div>
        <div class="col-lg-12" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: rgba(144, 144, 146, 0.07); max-height: 20em; overflow-y: scroll; border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
          {{ forum.description|raw }}
        </div>
      </div>
    {% else %}
      <div class="alert alert-danger">Il n'y a pas encore de forums sur ce sujet</div>
    {% endfor %}
  </div>

  <br>
  <a href="{{ path('plu_core_forum_homepage') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour
  </a>

  <!-- --------------------------------------------------------------------------------------------------------- -->

{% endblock %}
