{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajouter Cours
{% endblock %}

{% block container_title %}
  Ajouter un cours
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {% if form_errors(form) %}
    <div class="alert-danger">
      {{ form_errors(form) }}
    </div>
  {% endif %}

  <div class="form-group">
    {{ form_label(form.chemin, "Chemin* : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
      {{ form_widget(form.chemin, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.chemin) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.chemin) }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
      {% if form_errors(form.description) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.description) }}
        </div>
      {% endif %}
      {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {% if cours is defined %}
    <div class="form-group">
      <label class="col-lg-3 control-label">
        <b>Cours actuel :</b> {{ cours.fichiers }} 
      </label>
    </div>

    <div class="form-group">
    {{ form_label(form.file, "Remplacer le cours :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
    <div class="col-lg-9">
      {% if form_errors(form.file) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.file) }}
        </div>
      {% endif %}
      {{ form_widget(form.file) }}
    </div>
  </div>
  {% else %}
    <div class="form-group">
      {{ form_label(form.file, "Cours* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {% if form_errors(form.file) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.file) }}
          </div>
        {% endif %}
        {{ form_widget(form.file) }}
      </div>
    </div>
  {% endif %}

  <div class="form-group">
    {{ form_label(form.licences, "Licences concernées :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
    <div class="col-lg-9">
      <div class="btn-group">
        {% if form_errors(form.licences) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.licences) }}
        </div>
        {% endif %}
        {{ form_widget(form.licences, {'label_attr': {'class': 'btn btn-secondary'}}) }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label col-sm-2 control-label required"><b>Visible :</b></label>
    <div class="col-lg-9">
      <div class="btn-group">
        {% if form_errors(form.visible) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.visible) }}
        </div>
        {% endif %}
        {{ form_widget(form.visible, {'label_attr': {'class': 'btn btn-secondary'}}) }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
      <a href="{{ path('plu_core_cours_homepage') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Annuler
      </a>
    </div>
  </div>

  {{ form_rest(form) }}

  {{ form_end(form) }}
{% endblock %}
