{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Créer Dossier
{% endblock %}

{% block container_title %}
  Créer un dossier
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {% if form_errors(form) %}
    <div class="alert-danger">
      {{ form_errors(form) }}
    </div>
  {% endif %}

  <div class="form-group">
    {{ form_label(form.chemin, "Dossier racine : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
      {{ form_widget(form.chemin, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.chemin) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.chemin) }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.folder, "Nom du dossier : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
      {{ form_widget(form.folder, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.folder) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.folder) }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
      <a href="{{ path('plu_core_cours_homepage') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Annuler
      </a>
    </div>
  </div>

  {{ form_rest(form) }}

  {{ form_end(form) }}
{% endblock %}
