{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression dossier
{% endblock %}

{% block container_title %}
  Supprimer une dossier
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer le dossier "{{ path|trim('cours/', 'left') }}" ?
  </p>


  <form action="{{ path('plu_core_cours_deleteFolder', {'path': path|replace({'/': '.' }) }) }}" method="post">
    <a href="{{ path('plu_core_cours_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste de cours
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
