{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Cours
{% endblock %}

{% block container_title %}
  Liste des cours
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {% if is_granted('ROLE_ENSEIGNANT') %}
    <div>
      <a style="text-decoration:none;" href="{{ path('plu_core_cours_add') }} ">
        <button style="margin-right: 5px;" type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-upload"></span> Ajouter un cours
        </button>
      </a>
      <a style="text-decoration:none;" href="{{ path('plu_core_cours_createFolder') }} ">
        <button style="margin-right: 5px;" type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Créer un dossier
        </button>
      </a>
    </div>
  {% endif %}
  </br>

  <div class="panel-group" id="accordion">
    {% include "PLUCoreBundle:Cours:recursiveBlock.html.twig" with {'chemins': chemins, 'DS' : DS, 'allPaths' : allPaths} %}
  </div>
{% endblock %}

{% block javascripts %} 
  {{ parent()}} 
 
  <script> 
    $( document ).ready(function() { 
      $('button[data-id_cours_visible]').click(function(ev) { 
        var leThis = $(this); 
        var urlPath = leThis.attr('data-id_cours_visible'); 
  
        $.ajax({ 
          async : true, 
          type : 'get', 
          url : urlPath, 
          beforeSend : function() { 
            leThis.text('').text(); 
            leThis.append('<i class="fa fa-spinner fa-spin"></i>'); 
          }, 
          success : function(json) { 
            console.log(json); 
            if (json.visible) 
            { 
              leThis.attr('class', 'btn btn-success'); //change la classe en success 
              leThis.text('Visible').text(); //change la valeur du bouton 
            } else 
            { 
              leThis.attr('class', 'btn btn-danger'); //change la classe en danger 
              leThis.text('Non visible').text(); 
            } 
          }, 
          error : function(statut) { 
            leThis.attr('class', 'btn btn-danger'); //change la classe en danger 
            leThis.text('Error').text(); 
          } 
        }); 
      }); 
    }); 
  </script> 
{% endblock %} 