<!--recursiveBlock.html.twig-->

<div class="panel panel-default">
  {% for key,chemin in chemins %}
    {% if chemin is iterable %}
      {% set keyFolder = key|split(DS) %}
      {% set KeyURL = key|replace({(DS): '.' }) %}
      {% set KeyClass = key|url_encode|replace({'%': '_' }) %}
      {% set isNotFolderEmpty = false %}

      {% if is_granted('ROLE_ETUDIANT_ACTUEL') %}
        {% for path in allPaths %}
          {% if path|replace({'\\':'/' }) starts with key|replace({'\\':'/' }) %}
            {% set isNotFolderEmpty = true %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if not is_granted('ROLE_ETUDIANT_ACTUEL') %}
        {% set isNotFolderEmpty = true %}
      {% endif %}

      {% if isNotFolderEmpty %}

        <div class="panel-heading" id="titleLine">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#{{ KeyClass }}">
              <b id="title">
                {{ keyFolder|last }}
              </b>
            </a>
            {% if is_granted('ROLE_RESPONSABLE_LP') %}
              <div style="float:right;">
                <a href="{{ path('plu_core_cours_deleteFolder', { 'path':KeyURL }) }} " style="float: right;">
                  <button title="Supprimer" style="margin-right: 5px;" type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </a>
                <a href="{{ path('plu_core_cours_editFolder', { 'path':KeyURL }) }} " >
                  <button title="Editer" style="margin-right: 5px;" type="button" class="btn btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </a>
              </div>
            {% endif %}
          <h4>
        </div>
        <div class="panel-collapse collapse" id="{{ KeyClass }}">
          <div class="panel-body">
            {% include "PLUCoreBundle:Cours:recursiveBlock.html.twig" with {'chemins': chemin, 'DS' : DS} %}
          </div>
        </div>
      {% endif %}
    {% else %}

      {% if (is_granted('ROLE_ETUDIANT_ACTUEL') and app.user.licence in chemin.licences and chemin.visible)
        or is_granted('ROLE_ENSEIGNANT') %}

        <li class="list-group-item">

          {% if is_granted('ROLE_RESPONSABLE_LP') 
            or (is_granted('ROLE_ENSEIGNANT') and app.user.id == chemin.utilisateur.id)
          %}
            {% if chemin.visible %}
              <button type="button" data-id_cours_visible="{{path('plu_core_cours_changeVisible', { 'id':chemin.id }) }}" class="btn btn-success" >Visible</button>
            {% else %}
              <button type="button" data-id_cours_visible="{{path('plu_core_cours_changeVisible', { 'id':chemin.id }) }}" class="btn btn-danger" >Non visible</button>
            {% endif %}
          {% endif %}

          <a style="text-decoration:none;" href="{{ path('plu_core_cours_view', { 'id':chemin.id }) }}">
            {{ chemin.fichiers }}
          </a>

          <a href="{{ path('plu_core_cours_download', { 'id':chemin.id }) }} " style="text-decoration:none;">
            <button title="Télécharger" style="margin-right: 5px;" type="button" class="btn btn-xs">
              <span class="glyphicon glyphicon-download"></span> Télécharger
            </button>
          </a>

          {% if is_granted('ROLE_RESPONSABLE_LP') 
            or (is_granted('ROLE_ENSEIGNANT') and app.user.id == chemin.utilisateur.id)
          %}
            {% set path = chemin.chemin|replace({ "/": '.' }) %}
            <a href="{{ path('plu_core_cours_edit', { 'id':chemin.id, 'oldPath': path, 'oldFichiers' : chemin.fichiers }) }} " style="text-decoration:none;">
              <button title="Editer" style="margin-right: 5px;" type="button" class="btn btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </a>
            <a href="{{ path('plu_core_cours_delete', { 'id':chemin.id }) }} " style="text-decoration:none;">
              <button title="Supprimer" type="button" class="btn btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
          {% endif %}

        </li>
      {% endif %}
    {% endif %}

  {% else %}
    <div class="panel panel-default alert alert-danger">
      Ce dossier est vide.   
      {% if is_granted('ROLE_ENSEIGNANT') and not is_granted('ROLE_RESPONSABLE_LP') %}
        <div style="float:right;">
          <a href="{{ path('plu_core_cours_deleteFolder', { 'path':KeyURL }) }} " style="float: right;">
            <button title="Supprimer" style="margin-right: 5px;" type="button" class="btn btn-xs">
              <span class="glyphicon glyphicon-remove"></span> Supprimer dossier
            </button>
          </a>
          <a href="{{ path('plu_core_cours_editFolder', { 'path':KeyURL }) }} " >
            <button title="Editer" style="margin-right: 5px;" type="button" class="btn btn-xs">
              <span class="glyphicon glyphicon-pencil"></span> Modifier dossier
            </button>
          </a>
        </div>
      {% endif %}
    </div>  
  {% endfor %}
</div>

