{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Cours
{% endblock %}

{% block container_title %}
  <a style="text-decoration:none;" href="{{ path('plu_core_cours_homepage') }}">
    <button type="button" class="btn btn-xs">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Retourner sur la liste des cours
    </button>
  </a>
{% endblock %}

{% block container_body %}
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <h4 class="panel-title">
          <b id="title">
            Fichier : {{ cours.fichiers }}
          </b>
        </h4>
      </div>
    </div>
    <br>
    <b> Description : </b> 
    <div class="panel panel-default">
      <div class="panel-body" >
        {% if cours.description == null %}
          Ce cours n'a pas de description.
        {% else %}
          {{ cours.description|raw }}
        {% endif %}
      </div>
    </div>
    <div class="panel-heading" style="float:right">
      {% if cours.utilisateur is not null %}
        {% if cours.utilisateur.prenom is not null and cours.utilisateur.nom is not null %}
          Créé par : {{ cours.utilisateur.prenom }} {{ cours.utilisateur.nom }}
        {% endif %}
      {% else %}
        Créé par : profil supprimé.
      {% endif %}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" >
        <a style="text-decoration:none;" href="{{ path('plu_core_cours_download', { 'id':cours.id }) }}">
          <button style="margin-right: 5px;" type="button" class="btn btn-xs">
            <span class="glyphicon glyphicon-download"></span> Télécharger
          </button>
        </a>

        {% if is_granted('ROLE_ENSEIGNANT') %}

          {% if is_granted('ROLE_RESPONSABLE_LP') and not is_granted('ROLE_ADMINISTRATEUR') %}
            {% set isResp = false %}
            {% for licence in app.user.licences %}
              {% if licence in cours.licences %}
                {% set isResp = true %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if is_granted('ROLE_ADMINISTRATEUR') 
            or (is_granted('ROLE_RESPONSABLE_LP') and isResp)
            or (not is_granted('ROLE_RESPONSABLE_LP') and app.user.id == cours.utilisateur.id)
          %}
            {% set path = cours.chemin|replace({ "/": '.' }) %}
            <a style="text-decoration:none;" href="{{ path('plu_core_cours_edit', { 'id':cours.id, 'oldPath': path, 'oldFichiers' : cours.fichiers }) }}">
              <button style="margin-right: 5px;" type="button" class="btn btn-xs">
                <span class="glyphicon glyphicon-pencil"></span> Editer
              </button>
            </a>
            <a style="text-decoration:none;" href="{{ path('plu_core_cours_delete', { 'id':cours.id }) }}">
              <button type="button" class="btn btn-xs">
                <span class="glyphicon glyphicon-remove"></span> Supprimer
              </button>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
