{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajouter une page
{% endblock %}

{% block container_title %}
  Formulaire d'ajout ou de modification d'une page personnalisée
{% endblock %}

{% block container_body %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {% if form_errors(form) %}
      <div class="alert alert-danger">
        {{ form_errors(form) }}
      </div>
    {% endif %}

    <div class="form-group">
      {{ form_label(form.intitule, "Titre de la page :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.intitule, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.intitule) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.intitule) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.description) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.description) }}
          </div>
        {% endif %}
      </div>
    </div>

    <!-- <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        {# form_widget(form.visible) #}
      </div>
    </div> -->

    <div class="form-group">
      {{ form_label(form.description, "roles :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class=" col-lg-9">
        {{ form_widget(form.allRoles) }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
        <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Annuler
        </a>
      </div>
    </div>

    {{ form_rest(form) }}

  {{ form_end(form) }}
{% endblock %}
