{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression d'une page
{% endblock %}

{% block container_title %}
  Supprimer la page "{{page.intitule}}"
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer la page "{{ page.intitule }}" ?
  </p>


  <form action="{{ path('plu_core_page_delete', {'id': page.id}) }}" method="post">
    <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
