<ul class="nav nav-pills nav-stacked">
  {% for page in pages %}
  	{% set isGranted = false %}
	{% for role in page.roles %}
		{% if is_granted(role) %}
			{% set isGranted = true %}
		{% endif %}
	{% endfor %}

	{% if isGranted %}
	    <li>
	      <a href="{{ path('plu_core_page_view', { 'id':page.id }) }}">
	        {{ page.intitule }}
	      </a>
	    </li>
    {% endif %}
  {% endfor %}
</ul>
