{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Page
{% endblock %}

{% block container_title %}
  {{ page.intitule }}
{% endblock %}

{% block container_body %}

  <h4>Informations</h4>
  <div class="well ckImg">
    {{ page.description|raw }}
  </div>

  {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_RESPONSABLE_LP') %}
    <a href="{{ path('plu_core_page_edit', { 'id':page.id }) }} " class="btn btn-primary">
      Modifier la page
    </a>
    <a href="{{ path('plu_core_page_delete', { 'id':page.id }) }} " class="btn btn-danger">
      Supprimer la page
    </a>
  {% endif %}

  <br><br>
  <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour
  </a>

{% endblock %}
