#bandeau{
  padding: 0;
  margin: 0;
  height: 8em;
  width: 100%;
}

#logo{
  margin:0;
  padding:0.2em;
}

#navUn{
  margin: 0;
}

#side_bar{
  min-height: 15em;
}

#container{
  min-height: 15em;
}

.alert-form-error{
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ckImg img{
  max-width: 100%;
  max-height: 100%;
  height: inherit !important;
}

.panel-heading .accordion-toggle #title:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  
  content:"\E114";   
  float: right;        
  color: grey;        
  overflow: no-display;
}
.panel-heading .accordion-toggle.collapsed #title:after {
    /* symbol for "collapsed" panels */
    content:"\E080";
}
a.accordion-toggle{
    text-decoration: none;
}
#titleLine {
  border-bottom: 1px solid #ddd;
}