{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Inscription
{% endblock %}

{% block container_title %}
  Formulaire d'inscription
{% endblock %}

{% block container_body %}
  <div class="">
    {% for message in app.flashes('danger') %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes('notice') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}

      <div class="form-group">
        {{ form_label(form.nom, "Nom *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.nom) }}
        <div class="col-lg-9">
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.prenom, "Prénom *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.prenom) }}
        <div class="col-lg-9">
          {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.dateNaissance, "Date de naissance *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.dateNaissance) }}
        <div class="col-lg-9">
          {{ form_widget(form.dateNaissance) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.sexe, "Sexe *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.sexe) }}
        <div class="col-lg-9">
          {{ form_widget(form.sexe) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.telephone, "Téléphone", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.telephone) }}
        <div class="col-lg-9">
          {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.typeBac, "Type de BAC *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.typeBac) }}
        <div class="col-lg-9">
          {{ form_widget(form.typeBac, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.username, "Email personnelle *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.username) }}
        <div class="col-lg-9">
          {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.emailInstit, "Email institutionnelle *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.emailInstit) }}
        <div class="col-lg-9">
          {{ form_widget(form.emailInstit, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.anneeBac, "Année d'obtention du BAC *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.anneeBac) }}
        <div class="col-lg-9">
          {{ form_widget(form.anneeBac, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.ville, "Ville *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.ville) }}
        <div class="col-lg-9">
          {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.rue, "Rue *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.rue) }}
        <div class="col-lg-9">
          {{ form_widget(form.rue, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.codePostal, "Code postal *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.codePostal) }}
        <div class="col-lg-9">
          {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.typeBacSup, "Type du bac+2", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.typeBacSup) }}
        <div class="col-lg-9">
          {{ form_widget(form.typeBacSup, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.anneeBacSup, "Année d'obtention du bac+2", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.anneeBacSup) }}
        <div class="col-lg-9">
          {{ form_widget(form.anneeBacSup, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.licence, "Licence Professionnelle intégrée *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.licence) }}
        <div class="col-lg-9">
          {{ form_widget(form.licence, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.password, "Mot de passe *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.password) }}
        <div class="col-lg-9">
          {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.checkPassword, "Confirmation du mot de passe *", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        {{ form_errors(form.checkPassword) }}
        <div class="col-lg-9">
          {{ form_widget(form.checkPassword, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.enregistrer, "Enregistrer", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        <div class="col-lg-9">
          {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3 btn'}}) }}
          <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Annuler
          </a>
        </div>
      </div>

      {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
