{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression étudiant
{% endblock %}

{% block container_title %}
  Supprimer un étudiant
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer cet étudiant "{{ etudiant.nom }}" ?
  </p>


  <form action="{{ path('plu_core_etudiant_delete', {'id': etudiant.username}) }}" method="post">
    <a href="{{ path('plu_core_etudiant_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste des étudiants
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
