{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Status
{% endblock %}

{% block container_title %}
  Changement de status d'un étudiant
{% endblock %}

{% block container_body %}
  <div class="">
    {% for message in app.flashes('danger') %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes('notice') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}

      <div class="form-group">
        {{ form_label(form.licence, "Licence") }}
        <div class="col-lg-9">
          {{ form_widget(form.licence, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.licence) %}
            <div class="alert alert-danger alert-form-error">
              {{ form_errors(form.licence) }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.roles, "Statut") }}
        <div class="col-lg-9">
          {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.roles) %}
            <div class="alert alert-danger alert-form-error">
              {{ form_errors(form.roles) }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.enregistrer, "Enregistrer", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        <div class="col-lg-9">
          {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3 btn'}}) }}
          <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Annuler
          </a>
        </div>
      </div>

      {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
