{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Etudiants
{% endblock %}

{% block container_title %}
  Liste des étudiants
{% endblock %}

{% block container_body %}

  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  <div>
    {% if is_granted('ROLE_RESPONSABLE_LP') %}
      <a style="text-decoration:none;" href="{{ path('plu_core_etudiant_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un etudiant
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  <ul>
    {% for etudiant in listEtudiant %}
      <li>
        Etudiant : {{ etudiant.prenom }} {{ etudiant.nom }}
      </li>
      <li>
        Né le : {{ etudiant.dateNaissance|date('d/m/Y') }}
      </li>
      <li>
        Sexe : {{ etudiant.sexe }}
      </li>
      <li>
        Téléphone : {{ etudiant.telephone }}
      </li>
      <li>
        E-Mail Personnel : {{ etudiant.username }}
      </li>
      <li>
        E-Mail Institutionnel : {{ etudiant.emailInstit }}
      </li>
      <li>
        Type de BAC : {{ etudiant.typeBAC }}
      </li>
      <li>
        Année BAC : {{ etudiant.anneeBAC }}
      </li>
      <li>
        Ville : {{ etudiant.ville }}
      </li>
      <li>
        Rue : {{ etudiant.rue }}
      </li>
      <li>
        Code Postal : {{ etudiant.codePostal }}
      </li>
      <li>
        Type de BAC + 2 : {{ etudiant.typeBACSup }}
      </li>
      <li>
        Année BAC + 2 : {{ etudiant.anneeBACSup }}
      </li>
      <li>
      {% if etudiant.licence.nom is defined %}
        Licence : {{ etudiant.licence.nom }}
      {% else %}
        Licence : Aucune
      {% endif %}
      </li>
      {% if is_granted('ROLE_ADMINISTRATEUR') %}
        <a href="{{ path('plu_core_etudiant_edit', { 'id':etudiant.username }) }} " class="btn btn-primary col-sm-3 btn">
          Modifier étudiant
        </a>
        <a href="{{ path('plu_core_etudiant_editrole', { 'id':etudiant.username }) }} " class="btn btn-primary col-sm-3 btn">
          Modifier Statut
        </a>
        <a href="{{ path('plu_core_etudiant_delete', { 'id':etudiant.username }) }} " class="btn btn-danger">
          Supprimer étudiant
        </a>
      {% endif %}
        </br></br>
      {% else %}
        <li>Il n'y a pas encore d'Etudiants</li>
    {% endfor %}
  </ul>
{% endblock %}
