{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajout de forum
{% endblock %}

{% block container_title %}
  Formulaire d'ajout d'un forum
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {% if form_errors(form) %}
    <div class="alert alert-danger">
      {{ form_errors(form) }}
    </div>
  {% endif %}

  <div class="form-group">
    {{ form_label(form.titre, "Titre", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
    <div class="col-lg-9">
      {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.titre) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.titre) }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
    <div class="col-lg-9">
      {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.description) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.description) }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.sujet, "Sujet :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
    <div class="col-lg-9">
      {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.sujet) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.sujet) }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
      {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
      <a href="{{ path('plu_core_forum_homepage') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Annuler
      </a>
    </div>
  </div>

  {{ form_rest(form) }}
  {{ form_end(form) }}
{% endblock %}
