{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression forum
{% endblock %}

{% block container_title %}
  Supprimer un forum
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer ce forum : {{forum.titre}} ?

  <form action="{{ path('plu_core_forum_delete', {'id': forum.id}) }}" method="post">
    <a href="{{ path('plu_core_forum_view', { 'id':forum.id }) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur le forum
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
