{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Forum
{% endblock %}

{% block container_title %}
  Liste des sujets du forum
{% endblock %}

{% block container_body %}

  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  <div>
    {% if is_granted('ROLE_ETUDIANT_FUTUR') or is_granted('ROLE_ETUDIANT_ACTUEL') or is_granted('ROLE_ETUDIANT_ANCIEN') or is_granted('ROLE_RESPONSABLE_LP') %}
      <a style="text-decoration:none;" href="{{ path('plu_core_sujet_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un sujet
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  <div class="row text-center">
    {% for sujet in sujets %}
      <a href="{{ path('plu_core_sujet_view', { 'id':sujet.id }) }}">
        <div class='col-md-4 col-sm-4 col-xs-6' data-mh='licence-da'>
          <div class="alert alert-info" style="height: 90%;">
            {{ sujet.nom }}
          </div>
        </div>
      </a>
    {% else %}
      <div class="alert alert-danger">Il n'y a pas encore de sujets</div>
    {% endfor %}
  </div>

{% endblock %}
