<br>
{% set offset = offset + 1 %}
{% set longueur = longueur - 1 %}
{% for messageEnfant in messages %}
  {% if messageEnfant.message == parent %}
    <div class="{{ 'col-lg-offset-' ~ offset ~ ' col-lg-' ~ longueur }}" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: rgba(144, 144, 146, 0.07); max-height: 20em; overflow-y: scroll; border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
      {{ messageEnfant.contenu|raw }}
      {% if messageEnfant.utilisateur != null %}
        <small>{{ messageEnfant.utilisateur.prenom|capitalize }} {{ messageEnfant.utilisateur.nom|capitalize }} - {{ messageEnfant.date|date('H:i d-m-Y') }}</small>
      {% else %}
        <small>Profil supprimé - {{ messageEnfant.date|date('H:i d-m-Y') }}</small>
      {% endif %}
    </div>

    <div class="pull-right">
      <a href="{{ path('plu_core_message_add', { 'id':messageEnfant.id }) }} " class="btn btn-primary btn-xs">
        Répondre
      </a>
    </div>
    {% if messageEnfant.utilisateur != null %}
      {% if app.user.id == messageEnfant.utilisateur.id and false == is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
        <div class="pull-right">
          <a href="{{ path('plu_core_message_edit', { 'id':messageEnfant.id }) }} " class="btn btn-primary btn-xs">
            Modifier
          </a>
        </div>
      {% endif %}
    {% endif %}
    {% if is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
      <div class="pull-right">
        <a href="{{ path('plu_core_message_edit', { 'id':messageEnfant.id }) }} " class="btn btn-primary btn-xs">
          Modifier
        </a>
      </div>
    {% endif %}
    {% if is_granted('ROLE_ADMINISTRATEUR') %}
      <div class="pull-right">
        <a href="{{ path('plu_core_message_edit', { 'id':messageEnfant.id }) }} " class="btn btn-primary btn-xs">
          Modifier
        </a>
        <a href="{{ path('plu_core_message_delete', { 'id':messageEnfant.id }) }} " class="btn btn-danger btn-xs">
          Supprimer
        </a>
      </div>
    {% endif %}
    {% include "PLUCoreBundle:Forum:messagesEnRecursif.html.twig" with {'messages': messages, 'parent': messageEnfant, 'offset': offset, 'longueur': longueur} %}
  {% endif %}
{% endfor %}
<br>
