{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Forum
{% endblock %}

{% block container_title %}
  {% if forum.resolu == true %}
    {{ forum.titre }}<span id = 'texteResolu'> - Résolu </span>
  {% else %}
    {{ forum.titre }}<span id ='texteResolu'></span>
  {% endif %}

  <div class="pull-right">
    {% if forum.createur != null %}
      {% if app.user.id == forum.createur.id and false == is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
        <a href="{{ path('plu_core_forum_edit', { 'id':forum.id }) }} " class="btn btn-primary">
          Modifier le forum
        </a>
      {% endif %}
    {% endif %}

    {% if is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
      <a href="{{ path('plu_core_forum_edit', { 'id':forum.id }) }} " class="btn btn-primary">
        Modifier le forum
      </a>
    {% endif %}

    {% if is_granted('ROLE_ADMINISTRATEUR') %}
      <a href="{{ path('plu_core_forum_edit', { 'id':forum.id }) }} " class="btn btn-primary">
        Modifier le forum
      </a>
      <a href="{{ path('plu_core_forum_delete', { 'id':forum.id }) }} " class="btn btn-danger">
        Supprimer le forum
      </a>
    {% endif %}

    {% if forum.createur != null %}
      {% if app.user.id == forum.createur.id %}
        {% if forum.resolu %}
            <button type="button" data-action="resolu" data-id_forum_resolu="{{ path('plu_core_forum_resolu', {'id': forum.id}) }}" class="btn btn-success">Résolu</button>
        {% else %}
          <button type="button" data-action="resolu" data-id_forum_resolu="{{ path('plu_core_forum_resolu', {'id': forum.id}) }}" class="btn btn-danger">Marquer comme résolu</button>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>

{% endblock %}

{% block container_body %}

  <div class="col-lg-12" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: #d9edf7; max-height: 20em; overflow-y: scroll; border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
    {{ forum.description|raw }}
    <small>
      {% if forum.createur == null %}
        Profil supprimé
      {% else %}
        {{ forum.createur.prenom|capitalize }} {{ forum.createur.nom|capitalize }}
      {% endif %}
      - {{ forum.date|date('H:i d-m-Y') }}</small>
  </div>
  <br>

  <div>
    {% for message in messages %}
      {% if message.message == null %}
        <div class="col-lg-12" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: rgba(144, 144, 146, 0.07); max-height: 20em; overflow-y: scroll; border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
            {{ message.contenu|raw }}
            <small>
            {% if message.utilisateur == null %}
              Profil supprimé
            {% else %}
              {{ message.utilisateur.prenom|capitalize }} {{ message.utilisateur.nom|capitalize }}
            {% endif %}
             - {{ message.date|date('H:i d-m-Y') }}</small>
        </div>
        <div class="pull-right">
          <a href="{{ path('plu_core_message_add', { 'id':message.id }) }} " class="btn btn-primary btn-xs">
            Répondre
          </a>
        </div>
        {% if message.utilisateur != null %}
          {% if app.user.id == message.utilisateur.id and false == is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
            <div class="pull-right">
              <a href="{{ path('plu_core_message_edit', { 'id':message.id }) }} " class="btn btn-primary btn-xs">
                Modifier
              </a>
            </div>
          {% endif %}
        {% endif %}
        {% if is_granted('ROLE_RESPONSABLE_LP') and false == is_granted('ROLE_ADMINISTRATEUR') %}
          <div class="pull-right">
            <a href="{{ path('plu_core_message_edit', { 'id':message.id }) }} " class="btn btn-primary btn-xs">
              Modifier
            </a>
          </div>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATEUR') %}
          <div class="pull-right">
            <a href="{{ path('plu_core_message_edit', { 'id':message.id }) }} " class="btn btn-primary btn-xs">
              Modifier
            </a>
            <a href="{{ path('plu_core_message_delete', { 'id':message.id }) }} " class="btn btn-danger btn-xs">
              Supprimer
            </a>
          </div>
        {% endif %}
        {% include "PLUCoreBundle:Forum:messagesEnRecursif.html.twig" with {'messages': messages, 'parent': message, 'offset': '0', longueur: '12'} %}
      {% endif %}
    {% else %}
      <div class="alert alert-danger">Il n'y a pas encore de messages</div>
    {% endfor %}
  </div>

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% if form_errors(form) %}
      <div class="alert alert-danger">
        {{ form_errors(form) }}
      </div>
    {% endif %}

    <div class="form-group">
      <div class="col-lg-offset-0 col-lg-9">
        {{ form_label(form.contenu, "Répondre : ", {'label_attr': {'class': 'col-lg-2'}}) }}
      </div>
      <div class="col-lg-12">
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.contenu) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.contenu) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-0 col-lg-9">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
      </div>
    </div>

    {{ form_rest(form) }}
  {{ form_end(form) }}

  <br>
  <a href="{{ path('plu_core_sujet_view', { 'id':forum.sujet.id }) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour
  </a>

{% endblock %}

{% block javascripts %}
  {{ parent()}}

  <script>
    $( document ).ready(function() {
      $('button[data-id_forum_resolu]').click(function(ev) {
        var leThis = $(this);
        var urlPath = leThis.attr('data-id_forum_resolu');
        console.log(urlPath);

        $.ajax({
          async : true,
          type : 'get',
          url : urlPath,
          beforeSend : function() {
            leThis.text('').text();
            leThis.append('<i class="fa fa-spinner fa-spin"></i>');
          },
          success : function(json) {
            console.log(json);
            var texteResolu = document.getElementById('texteResolu');
            if (
              (leThis.attr('data-action') == "resolu" && json.resolu)
            ) {
              leThis.attr('class', 'btn btn-success'); //change la classe en danger
              leThis.text('Résolu').text(); //change la valeur du bouton
              texteResolu.style.visibility = '';
              texteResolu.innerHTML = ' - Résolu';
            } else if (
              (leThis.attr('data-action') == "resolu" && ! json.resolu)
            ) {
              leThis.attr('class', 'btn btn-danger'); //change la classe en danger
              leThis.text('Marquer comme résolu').text();
              texteResolu.style.visibility = 'hidden';
            }
          },
          error : function(statut) {
            leThis.attr('class', 'btn btn-danger'); //change la classe en danger
            leThis.text('Error').text();
          }
        });
      });
    });
  </script>

{% endblock %}
