{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Enregistrer entreprise
{% endblock %}

{% block container_title %}
  Formulaire d'enregistrement d'une entreprise
{% endblock %}

{% block container_body %}
  <div class="">
    {% for message in app.flashes('danger') %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}

      <div class="form-group">
        {{ form_label(form.nom, "Nom *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.nom) }}
        <div class="col-sm-10">
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.username, "Email *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.username) }}
        <div class="col-sm-10">
          {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.addr, "Adresse *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.addr) }}
        <div class="col-sm-10">
          {{ form_widget(form.addr, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.password, "Mot de passe *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.password) }}
        <div class="col-sm-10">
          {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.checkPassword, "Confirmation du mot de passe *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.checkPassword) }}
        <div class="col-sm-10">
          {{ form_widget(form.checkPassword, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.enregistrer, "Enregistrer", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3 btn'}}) }}
          <a href="{{ path('plu_core_licence_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Annuler
          </a>
        </div>
      </div>

      {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
