{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression entreprise
{% endblock %}

{% block container_title %}
  Supprimer un entreprise
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer cette entreprise "{{ entreprise.nom }}" ?
  </p>


  <form action="{{ path('plu_core_entreprise_delete', {'id': entreprise.username}) }}" method="post">
    <a href="{{ path('plu_core_entreprise_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste des entreprises
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
