{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - entreprises
{% endblock %}

{% block container_title %}
  Liste des Entreprises
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {% endfor %}

  {% for message in app.flashes('notice') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %}

  <div>
    {% if is_granted('ROLE_RESPONSABLE_LP') %}      
      <a style="text-decoration:none;" href="{{ path('plu_core_entreprise_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une entreprise
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  <ul>
    {% for entreprise in listEntreprise %}
      <li>
        Nom : {{ entreprise.nom }}
      </li>
      <li>
        E-mail : {{ entreprise.username }}
      </li>
      <li>
        Adresse : {{ entreprise.addr }}
      </li>

      {% if
        is_granted('ROLE_ADMINISTRATEUR')
        or is_granted('ROLE_RESPONSABLE_LP')
      %}
      <a href="{{ path('plu_core_entreprise_edit', { 'id':entreprise.username }) }} " class="btn btn-primary col-sm-3 btn">
        Modifier entreprise
      </a>
      <a href="{{ path('plu_core_entreprise_delete', { 'id':entreprise.username }) }} " class="btn btn-danger">
        Supprimer entreprise
      </a>
      {% endif %}
      </br></br>
      {% else %}
        <li>Il n'y a pas encore d'Entreprises</li>
    {% endfor %}
  </ul>
{% endblock %}
