{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression administrateur
{% endblock %}

{% block container_title %}
  Supprimer un administrateur
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer cette administrateur "{{ admin.username }}" ?
  </p>


  <form action="{{ path('plu_core_administrateur_delete', {'id': admin.username}) }}" method="post">
    <a href="{{ path('plu_core_administrateur_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste des administrateurs
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
