{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - administrateurs
{% endblock %}

{% block container_title %}
  Liste des Administrateurs
{% endblock %}

{% block container_body %}
  
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
                
  <div>
    {% if is_granted('ROLE_ADMINISTRATEUR') %}      
      <a style="text-decoration:none;" href="{{ path('plu_core_administrateur_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un administrateur
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  <ul>
    {% for admin in listAdmin %}
      <li>
        E-mail : {{ admin.username }}
      </li>
      
      {% if is_granted('ROLE_ADMINISTRATEUR') %}
        <a href="{{ path('plu_core_administrateur_edit', { 'id':admin.username }) }} " class="btn btn-primary col-sm-3 btn">
          Modifier administrateur
        </a>
        <a href="{{ path('plu_core_administrateur_delete', { 'id':admin.username }) }} " class="btn btn-danger">
          Supprimer administrateur
        </a>
      {% endif %}
      </br></br>
    {% else %}
      <li>Il n'y a pas encore d'Administrateurs</li>
    {% endfor %}
  </ul>
{% endblock %}
