{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajouter intervenant
{% endblock %}

{% block container_title %}
  Formulaire d'ajout d'intervenant
{% endblock %}

{% block container_body %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="form-group">
      {{ form_label(form.nom, "Nom* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.nom) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.nom) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.prenom, "Prenom* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.prenom) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.prenom) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.username, "Email* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.username) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.username) }}
        </div>
        {% endif %}
      </div>
    </div>

    {% if form.entreprise is defined %}
      <div class="form-group">
        {{ form_label(form.entreprise, "Entreprise* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        <div class="col-lg-9">
          {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
          {% if form_errors(form.entreprise) %}
            <div class="alert alert-danger alert-form-error">
              {{ form_errors(form.entreprise) }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="form-group">
      {{ form_label(form.password, "Mot de passe* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.password) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.password) }}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.checkPassword, "Mot de passe de vérification* :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.checkPassword, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.checkPassword) %}
        <div class="alert alert-danger alert-form-error">
          {{ form_errors(form.checkPassword) }}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
        <a href="{{ path('plu_core_intervenant_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Annuler
        </a>
      </div>
    </div>

    {{ form_rest(form) }}

  {{ form_end(form) }}
{% endblock %}
