{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression d'intervenant
{% endblock %}

{% block container_title %}
  Supprimer l'intervenant "{{ intervenant.prenom }} {{ intervenant.nom }}"
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer cet intervenant "{{ intervenant.prenom }} {{ intervenant.nom }}" ?
  </p>


  <form action="{{ path('plu_core_intervenant_delete', {'id': intervenant.username}) }}" method="post">
    <a href="{{ path('plu_core_intervenant_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur la liste des intervenants
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
