{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Intervenants
{% endblock %}

{% block container_title %}
  Liste des intervenants
{% endblock %}


{% block container_body %}

  <div>
    {% if is_granted('ROLE_ENTREPRISE') %}
      <a style="text-decoration:none;" href="{{ path('plu_core_intervenant_add') }}">
        <button type="button" class="btn btn-xs">
          <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un intervenant
        </button>
      </a>
    {% endif %}
  </div>
  </br>

  {% if
    is_granted('ROLE_ADMINISTRATEUR')
    or is_granted('ROLE_ENTREPRISE')
  %}

    <table class="table table-striped">
      <thead>
        <tr>
          <td>#</td>
          <td>Nom</td>
          <td>Prenom</td>
          {% if is_granted('ROLE_ADMINISTRATEUR') %}
            <td>Entreprise</td>
          {% endif %}
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {% for intervenant in listIntervenant %}
          <tr>
            <td>{{ intervenant.id }}</td>
            <td>{{ intervenant.prenom }}</td>
            <td>{{ intervenant.nom }}</td>
            {% if is_granted('ROLE_ADMINISTRATEUR') %}
              {% if intervenant.entreprise != null %}
                <td>{{ intervenant.entreprise.nom }}</td>
              {% else %}
                <td>Entreprise supprimée</td>
              {% endif %}
            {% endif %}
            <td>
              <a href="{{ path('plu_core_intervenant_edit', { 'id':intervenant.username }) }}">
                <button type="button" class="btn btn-primary">Modifier</button>
              </a>
              <a href="{{ path('plu_core_intervenant_delete', { 'id':intervenant.username }) }}">
                <button type="button" class="btn btn-danger">Supprimer</button>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}


{% endblock %}
