{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Offre
{% endblock %}

{% block container_title %}
  {{ offre.intitule }}
{% endblock %}

{% block container_body %}
    <div class="col-lg-12">
      {{ offre.entreprise.nom|capitalize }} - {{ offre.categorie.nom }}
    </div>
    <div class="col-lg-12" style=" margin-top: 1em; margin-bottom: 1em; padding: 1em; background-color: rgba(144, 144, 146, 0.07); border-radius: 0.7em; box-shadow: 0 0 0.25em black inset;">
      {{ offre.description|raw }}
    </div>
    <div class="col-lg-12" style="margin-bottom: 1em">
      Lieu de l'offre : {{ offre.addr }}
    </div>

    {% if offre.fichiers != null %}
      <a href = "{{ path('plu_core_offre_download', {'id': offre.id}) }}"><button type="button" class="btn btn-primary" style="margin-bottom: 1em;"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Télécharger</button></a>
    {% endif %}

{% endblock %}
