<nav>
  <nav class="navbar navbar-default" id="navUn" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
       <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user_navbar" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="caret"></span>
        </button>

        <a class="navbar-brand" href="#"></a>

        <img class="navbar-brand" id="logo" src="{{ asset('img/menu/logo_um.png') }}" alt="logo de l'um">
        <img class="navbar-brand" id="logo" src="{{ asset('img/menu/logo_iut.png') }}" alt="logo de l'iut">
        <div class="navbar-brand visible-lg" style="margin: auto;">
          Plateforme des licences professionnelles de l'UM
        </div>
         <!-- <div class="pull-right navbar-brand">
          hgjygyjg
        </div> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="user_navbar">
        <ul class="nav navbar-nav navbar-right" style="margin-left: 0;margin-right: 0;">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
            <form class="navbar-form navbar-left" role="search" style="padding: 0;" action="{{ path('login_check') }}" method="post">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-at" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" placeholder="email" id="username" name="_username" >
              </div>

              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
                <input type="password" class="form-control" placeholder="mot de passe" id="password" name="_password">
              </div>

              <!-- <div class="visible-xs"> -->
                <a class="visible-xs" href="{{ path('plu_core_utilisateur_send') }}">Mot de passe oublié ?</a>
              <!-- </div> -->

              <button type="submit" class="btn btn-default">Connexion</button>

              <div class="btn-group hidden-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('plu_core_utilisateur_send') }}">Mot de passe oublié</a></li>
                </ul>
              </div>

            </form>
          {% else %}
            <li class="navbar-brand visible-sm visible-md visible-lg">

              {% if is_granted('ROLE_ENTREPRISE') and not is_granted('ROLE_ADMINISTRATEUR') %}
                Bonjour, {{ app.user.nom }}
              {% else %}
                Bonjour, {{ app.user.prenom }} {{ app.user.nom }}
              {% endif %}
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('plu_core_' ~ app.user.className|lower ~ '_edit', {'id': app.user.username}) }}">Profil</a></li>
                  <li><a href="{{ path('plu_core_utilisateur_changepassword', {'id': app.user.username}) }}">Changer le mot de passe</a></li>
                  <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                </ul>
              </div>
            </li>
             <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                <li>
                  <a href="{{ path('plu_core_' ~ app.user.className|lower ~ '_edit', {'id': app.user.username}) }}">Profil</a>
                </li>
                <li>
                  <a href="{{ path('plu_core_utilisateur_changepassword', {'id': app.user.username}) }}">Changer le mot de passe</a>
                </li>
                <li>
                  <a href="{{ path('logout') }}">Déconnexion</a>
                </li>
              </ul>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% if error_login is defined and error_login != null %}
    <div class="alert alert-danger" style="margin: 0;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Les identifiants ne sont pas valides.
    </div>
  {% endif %}
  <img id="bandeau" src="{{ asset('img/menu/forest.jpg') }}" alt="">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#all_navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="all_navbar">
        <ul class="nav navbar-nav">
          <li class={% if app.request.attributes.get('_route') == 'plu_core_licence_homepage' %}"active"{% endif %}>
            <a href="{{ path('plu_core_licence_homepage') }}">
              Licences
            </a>
          </li>

          {% if is_granted('ROLE_ENSEIGNANT')
            or is_granted('ROLE_ETUDIANT_FUTUR')
            or is_granted('ROLE_ETUDIANT_ACTUEL')
            or is_granted('ROLE_ETUDIANT_ANCIEN')
            or is_granted('ROLE_INTERVENANT')
          %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_offre_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_offre_homepage') }}">
                Offres
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_ADMINISTRATEUR') %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_enseignant_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_enseignant_homepage') }}">
                Enseignants
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_ENSEIGNANT') %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_entreprise_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_entreprise_homepage') }}">
                Entreprises
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_RESPONSABLE_LP') %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_etudiant_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_etudiant_homepage') }}">
                Etudiants
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_ADMINISTRATEUR') %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_administrateur_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_administrateur_homepage') }}">
                Administrateurs
              </a>
            </li>
          {% endif %}

          {% if
            is_granted('ROLE_ADMINISTRATEUR')
            or is_granted('ROLE_RESPONSABLE_LP')
            or is_granted('ROLE_ENTREPRISE')
          %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_intervenant_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_intervenant_homepage') }}">
                Intervenants
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_ENSEIGNANT')
            or is_granted('ROLE_ETUDIANT_ACTUEL') %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_agenda_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_agenda_homepage') }}">
                Agenda
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_ENSEIGNANT')
            or is_granted('ROLE_ETUDIANT_ACTUEL') %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_cours_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_cours_homepage') }}">
                Cours
              </a>
            </li>
          {% endif %}

          {% if is_granted('ROLE_ETUDIANT_FUTUR')
            or is_granted('ROLE_ETUDIANT_ACTUEL')
            or is_granted('ROLE_ETUDIANT_ANCIEN')
            or is_granted('ROLE_RESPONSABLE_LP')
          %}
            <li class={% if app.request.attributes.get('_route') == 'plu_core_forum_homepage' %}"active"{% endif %}>
              <a href="{{ path('plu_core_forum_homepage') }}">
                Forum
              </a>
            </li>
          {% endif %}

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"></a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</nav>
