{% extends "base.html.twig" %}

{% block title %}PLU{% endblock %}

{% block ariane %}{{parent()}}{% endblock %}

{% block side_bar %}
  <h3><h4>Licence</h4></h3>
  {{ render(controller("PLUCoreBundle:Licence:menu")) }}

  <h3><h4>Informations des LP</h4></h3>
  {{ render(controller("PLUCoreBundle:Page:menu")) }}

  {% if is_granted('ROLE_RESPONSABLE_LP') or is_granted('ROLE_ADMINISTRATEUR') %}
    <a href="{{ path('plu_core_page_add') }}" class="btn btn-primary col-lg-12">Ajouter</a>
  {% endif %}

{% endblock %}

{% block container %}
  <h3>{% block container_title %}{% endblock %}</h3>
  <hr>
  <div class="col_lg-12">
    <div class="col-lg-12">
      {% block container_body %}{% endblock %}
    </div>

  </div>
{% endblock %}
