{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}
        {% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Plateforme des licences professionnelles</h1>
      <p>
       Cette plateforme est dédiée aux licences professionnelles informatiques de l'IUT de Montpellier
      </p>
      <p>
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_licence_homepage') }}">
            Liste des licences
          </a>
        {% if is_granted('ROLE_ADMINISTRATEUR') %}
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_licence_add') }}">
            Ajouter une licence
          </a>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_RESPONSABLE_LP') 
            or is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ENTREPRISE') %}
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_offre_add') }}">
            Ajouter une offre
          </a>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_RESPONSABLE_LP') 
            or is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ETUDIANT_FUTUR')
            or is_granted('ROLE_ETUDIANT_ACTUEL') or is_granted('ROLE_ETUDIANT_ANCIEN') %}
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_offre_homepage') }}">
            Liste des offres
          </a>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_RESPONSABLE_LP') %}
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_etudiant_homepage') }}">
            Liste des Etudiants
          </a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_etudiant_edit', {'id': app.user.username}) }}">
            Profil
          </a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
          <a class="btn btn-primary btn-lg" href="{{ path('login') }}">
            Se connecter
          </a>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATEUR') or (is_granted('IS_AUTHENTICATED_REMEMBERED') == false) %}
          <a class="btn btn-primary btn-lg" href="{{ path('plu_core_etudiant_add') }}">
            Inscription
          </a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <a class="btn btn-primary btn-lg" href="{{ path('logout') }}">
            Se déconnecter
          </a>
        {% endif %}
      </p>
    </div>

    <div class="row">
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>
    <footer>
      <p>footer...</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>
