{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Ajout agenda
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block container_title %}
  Formulaire d'ajout ou de modification d'une ligne dans l'agenda
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {% if form_errors(form) %}
      <div class="alert alert-danger">
        {{ form_errors(form) }}
      </div>
    {% endif %}

    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>

    <div class="form-group">
      {{ form_label(form.date, "Date :", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.date) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.date) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
      <div class="col-lg-9">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.description) %}
          <div class="alert alert-danger alert-form-error">
            {{ form_errors(form.description) }}
          </div>
        {% endif %}
      </div>
    </div>
    
    {% if discr != "etudiant" %}
      <div class="form-group">
        {{ form_label(form.licences, "Licences :", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
        <div class="col-lg-9">
          {{ form_widget(form.licences) }}
          {% if form_errors(form.licences) %}
            <div class="alert alert-danger alert-form-error">
              {{ form_errors(form.licences) }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {{ form_row(form._token) }}

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-sm-3'}}) }}
        <a href="{{ path('plu_core_agenda_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Annuler
        </a>
      </div>
    </div>


{% endblock %}
