{% block affichage_agenda %}

  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Date</td>
        <td>Description</td>
        <td>Utilisateur</td>
      </tr>
    </thead>
    <tbody>
      {% for agenda in agendas %}
        <tr>
          <td>{{ agenda.date|date('d/m/Y') }}</td>
          <td>{{ agenda.description }}</td>
          <td>
          {% if agenda.utilisateur != null %}
            {% if agenda.utilisateur.prenom != null and agenda.utilisateur.nom != null  %}
              {{ agenda.utilisateur.prenom }} {{ agenda.utilisateur.nom }}
            {% endif %}
          {% else %}
            Profil supprimé.
          {% endif %}
          </td>
          {% if is_granted('ROLE_ADMINISTRATEUR') 
          or (agenda.utilisateur != null and app.user.username == agenda.utilisateur.username)
          or not is_granted('ROLE_ADMINISTRATEUR') and is_granted('ROLE_RESPONSABLE_LP') and licence in app.user.licences %}
            <td>
              <a href="{{ path('plu_core_agenda_edit', { 'id':agenda.id }) }} ">
                <button type="button" class="btn btn-xs">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </a>
              <a href="{{ path('plu_core_agenda_delete', { 'id':agenda.id }) }} ">
                <button type="button" class="btn btn-xs">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </a>
            </td>
          {% endif %}
        </tr>
      {% else %}
        </tbody>
        </table>
        <div class="col-lg-12">
          <div class="alert alert-danger" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            L'agenda est vide pour cette date.
          </div>
        </div>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}