{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Suppression agenda
{% endblock %}

{% block container_title %}
  Supprimer une agenda
{% endblock %}

{% block container_body %}
  <p>
    Etes-vous certain de vouloir supprimer cette ligne de l'agenda ?
  </p>


  <form action="{{ path('plu_core_agenda_delete', {'id': agenda.id}) }}" method="post">
    <a href="{{ path('plu_core_agenda_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour sur l'agenda
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
