{% extends "PLUCoreBundle::layoutBis.html.twig" %}

{% block title %}
  {{ parent()}} - Agenda
{% endblock %}

{% block container_title %}
  Agenda
{% endblock %}

{% block container_body %}
  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  <div>
    <a style="text-decoration:none;" href="{{ path('plu_core_agenda_add') }}">
      <button type="button" class="btn btn-xs">
        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une ligne à l'agenda.
      </button>
    </a>
  </div>
  </br>

  {{ form_start(formAgenda) }}
  
  <div class="col-lg-12">
    {% if form_errors(formAgenda.date) %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ form_errors(formAgenda.date) }}
      </div>
    {% endif %}
    {% if form_errors(formAgenda.licence) %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ form_errors(formAgenda.licence) }}
      </div>
    {% endif %}
  </div>

  <table align="left">
    <thead>
      <tr>
        {% if discr != "etudiant" %}
          <td>{{ form_widget(formAgenda.licence) }}</td>
        {% endif %}
        <td id="pathIndex" data-pathIndex="{{ path('plu_core_agenda_homepage') }}">
          {{ form_widget(formAgenda.date) }}
        </td>
        {{ form_row(formAgenda._token) }}
      </tr>
    </thead>
  </table>

  {% include "PLUCoreBundle:Agenda:affichage_agenda.html.twig" with {'agendas': agendas, 'licence' : licence} %}

{% endblock %}

{% block javascripts %}
  {{ parent()}}

  <script>
    $( document ).ready(function() {
      $('#agenda_affichage_licence').change(function(ev) {
        var urlPath =  $('#pathIndex').attr('data-pathIndex');
        var licenceId = $("#agenda_affichage_licence").val();
        var date = $("#agenda_affichage_date").val();
        urlPath = urlPath + "/" + date + "/" + licenceId;
        window.location.replace(urlPath);
      });
      $('#agenda_affichage_date').change(function(ev) {
        var urlPath =  $('#pathIndex').attr('data-pathIndex');
        var licenceId = $("#agenda_affichage_licence").val();
        var date = $("#agenda_affichage_date").val();
        urlPath = urlPath + "/" + date + "/" + licenceId;
        window.location.replace(urlPath);
      });
    });
  </script>
{% endblock %}
